.tags {
    border-bottom: 1px solid gray;
    &__listado{
        padding: 0;
        list-style: none;
    }
    &__list{
        padding: 2px 4px;
        background-color: steelblue;
        margin-right: 1px;
        color: white;
    }
}

@media screen and (min-width: 768px){
    .tags{
        &__list{
            display: inline-block;
        }
    }
}